{% extends 'base.html' %}

{% block content %}


<small>
𝒫𝑜𝓈𝓉𝑒𝒹: {{ post.author.first_name }}
	{{ post.author.last_name }} <br> 
	𝒪𝓃: {{ post.post_date }}
</small>
<br>
<br>
{{ post.body|safe }}

<!-- {% if user.is_authenticated %}
	{% if request.user == post.author %}

	<small>
	<a href="{% url 'update_post' post.pk %}" class='btn btn-secondary'>Edit</a>
	<a href="{% url 'delete_post' post.pk %}" class="btn btn-secondary">Delete</a>
	</small>
	{% endif %}

{% endif %} -->

<br><br>

{% endblock %}