{% extends 'base.html' %}

{% block content %}

<br><br><br>
<h1>{{ post.title }}</h1>

<small>
𝒫𝑜𝓈𝓉𝑒𝒹: {{ post.author.first_name }}
	{{ post.author.last_name }} <br> 
	𝒪𝓃: {{ post.post_date }}
</small>
<br>
<br>
{{ post.body }}
<br>
<br>

{% if user.is_authenticated %}

<a href="{% url 'update_post' post.pk %}" class='btn btn-secondary'>Edit</a>
<small><a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete</a></small>
{% endif %}

<br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}