{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}
{% if request.user == post.author %}

<h3>Delete Post?</h3>

<div class='form-group'></div>
<form method="POST">
	{% csrf_token %}

	<h5>Postavio: {{ post.author }}, Datum: {{ post.post_date }}</h5>
<br>
	{{ post.body }}

	{% if post.image %}
		<img src="{{ post.image.url }}">
	{% endif %}
<br>
	<button class='btn btn-danger'>Obrisi</button><strong> ✓ </strong>
	<br><br>
</div>

 {% else %}

 Morate biti ulogovani!

{% endif %}
{% endif %}




{% endblock %}

