{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}
{% if request.user == post.author %}

<h3>Delete Post</h3>

<div class='form-group'></div>
<form method="POST">
	{% csrf_token %}
	
	<i><h4> Author: <strong>{{ post.author }}</strong> / {{ post.post_date }} / {{ post.whenpublished }} </h4></i>
	<br>
	{{ post.body|safe }}
	<br>
		{% if post.image %}
			<img src="{{ post.image.url }}">
		{% endif %}
			<br>
		{% if post.video %}
		    <video width='500' height= '300' id="intro" type="video/mp4" controls preload>
		        <source src="{{ post.video.url }}" type="video/mp4">
		    </video>
		{% endif %}
	<br>
	<button class='btn btn-danger text-light'> Delete </button><strong> ✓ </strong>
	<br><br>
</div>

 {% else %}

<h1>🚫</h1> 
<h3>Need to be Logged In as POST-USER</h3>

{% endif %}
{% endif %}




{% endblock %}

