{% extends 'base.html' %}

{% block content %}



{% if not user.is_authenticated %}
<br><br><br><br>
		<h2 class="text-light text-center"><strong>ᒪOGIᑎ Oᖇ ᖇEGIᔕTEᖇ</strong>
		<h2 class="text-light text-center">ᔕO YOᑌ ᑕᗩᑎ ᔕEE TᕼE ᑭᗩGE ᑕOᑎTEᑎT </h2>
{% endif %}



{% if user.is_authenticated %}

<ul>
	{% for post in object_list %}
		<li>
			<strong>
		<div class='text-light'>
			<h4>Postavio: {{ post.author }}, Datum: {{ post.post_date }} </h4>
			</strong>
		</div>

		<h8> {{ post.body|slice:":500"|safe }} </h8>
		<br>
			{% if post.image %}
				<img src="{{ post.image.url }}">
			{% endif %}
		<br>
			<a href="{% url 'article_details' post.pk %}"
				class="btn btn-primary btn-sm text-light"> Klikni za vise detalja
			</a>
		{% if user.is_authenticated %}
			{% if request.user == post.author %}


				<a class="btn btn-info btn-sm text-light" href="{% url 'update_post' post.pk %}">Izmeni</a></button> 
				<a class="btn btn-danger btn-sm text-light" href="{% url 'delete_post' post.pk %}">Obrisi</a></button>
			</form>

			{% endif %}	
		{% endif %}

		</li>
	<br>
	{% endfor %}
{% endif %}
</ul>



{% endblock %}

