{% extends 'base.html' %}

{% block content %}

{% if not user.is_authenticated %}
	<br>
	<h2 class="text-light"> ᗯEᒪᑕOᗰE TO ▹ 𝓜𝔂 𝓟𝓪𝓰𝓮 📳 </h2>
	<h5 class="text-light">ᒪOGIᑎ Oᖇ ᖇEGIᔕTEᖇ, ᔕO YOᑌ ᑕᗩᑎ ᔕEE TᕼE ᑭᗩGE ᑕOᑎTEᑎT </h5>
	<br>
{% endif %}

{% if user.is_authenticated %}
	<h1> ροsτs ⤵</h1>
	<br>

<ul>
{% for post in object_list %}
<li>
	<div class='text-warning'>
<!-- 	𝒫𝑜𝓈𝓉𝑒𝒹: {{ post.author.first_name }} {{ post.author.last_name }} -->
𝒫𝑜𝓈𝓉𝑒𝒹: {{ post.author }}, 𝑜𝓃: {{ post.post_date }} 
</div>

	<h7> {{ post.body|slice:":500"|safe }} 
		<a href="{% url 'article_details' post.pk %}"> 
		<small>...see all</small> </a>
	</h7>

{% if user.is_authenticated %}
	{% if request.user == post.author %}
<br>
	<small>
		<a class="btn btn-outline text-primary" href="{% url 'update_post' post.pk %}">Edit</a></button> |
		<a class="btn btn-outline text-primary" href="{% url 'delete_post' post.pk %}"> Delete</a></button>
	</small>

	{% endif %}	
{% endif %}


<br><br>
</li>
{% endfor %}
{% endif %}
</ul>
{% endblock %}